.container {
  margin: 0 auto;
  width: 1650px;
}

.header {
  background-image: url(images/banner1.png);
  min-height: 737px;
  background-size: cover;
  background-position: center;
}

.header__container {
  max-width: 1171px;
  margin: 0 auto;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__pin {
  width: 13px;
  height: 18px;
}

.header__phone {
  width: 17px;
  height: 17px;
}

.header__social {
  display: flex;
  gap: 25px;
}

.header__img {
  max-width: 92px;
  height: 81px;
  display: block;
  margin-top: 8px;
}

.header__geo {
  display: flex;
  gap: 13px;
}

.header__call {
  display: flex;
  gap: 13px;
}

.header__contacts {
  display: flex;
  gap: 41px;
  margin-top: 17px;
  justify-content: end;
}

.header__nav {
  background-color: #fbd341;
  height: 44px;
  width: 760px;
  display: flex;
  margin-top: 15px;
  align-items: center;
  border-radius: 10px;
}

.header__nav-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.header__nav-link {
  font-family: Arial;
  font-size: 18px;
  line-height: 250%;
  font-weight: bold;
  color: #000;
}

.header__location {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  color: rgba(243, 243, 243, 0.8);
}

.header__number {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  color: rgba(243, 243, 243, 0.8);
}

.header__bottom {
  display: flex;
  align-items: center;
  margin-top: 233px;
  background-color: rgba(0, 76, 132, 0.49);
  height: 228px;
  width: 1352px;
  justify-content: center;
}

.header__proposal {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header .proposal__text {
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.header .proposal__button {
  opacity: none;
  width: 254px;
  height: 48px;
  border-radius: 10px;
  background-color: #fbd341;
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
}

.nav-dropdown {
  position: relative;
  display: inline-block;
}

.nav-dropdown__content {
  white-space: nowrap;
  display: none;
  position: absolute;
  top: 44px;
  left: -20px;
  background-color: #3397e2;
  opacity: 0.8;
  padding: 20px 25px;
  z-index: 1;
  font-family: Arial;
  font-size: 14px;
  line-height: 33px;
  color: #fff;
}

.nav-dropdown:hover .nav-dropdown__content {
  display: flex;
  flex-direction: column;
}

.tours__headers {
  display: flex;
  gap: 32px;
  margin-top: 72px;
  margin-bottom: 70px;
  margin-left: 339px;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
}

.tours__headers h3:first-child {
  color: #fbd341;
}

.slick-slider {
  height: 202px;
}

.card {
  box-sizing: border-box;
  max-width: 519px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 7px;
  background-color: #f8f7f7;
  padding: 13px 20px 14px 14px;
  gap: 28px;
}

.card__heading {
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
}

.card__date {
  font-family: Arial;
  font-size: 14px;
  color: #3a3a3a;
  margin-top: 6px;
}

.card__description {
  margin-top: 28px;
  font-family: Arial;
  font-size: 14px;
  color: #3a3a3a;
}

.card__price {
  font-family: Arial;
  font-size: 20px;
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

.card .person-count {
  font-family: Arial;
  font-size: 11px;
  color: #8a8a8a;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-next:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: center / cover url(images/icon-right.png);
}

.slick-prev:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: center / cover url(images/icon-left.png);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 7px;
  background-color: #fbd341;
  border-radius: 50px;
  margin-top: 34px;
}

.submit {
  display: flex;
  justify-content: space-between;
}

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
}

.slick-next {
  display: block;
  right: -25px;
}

.slick-prev {
  left: -25px;
}

.b-container {
  max-width: 1171px;
  margin: 0 auto;
  margin-top: 75px;

}

.benefits__paragraph {
  display: flex;
  justify-content: space-between;
}

.benefits__wrapper {
  width: 100%;
}

.benefits__text {
  width: 537px;
  height: 184px;
  margin-top: 140px;
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.Benefits {
  background-color: #f8f7f7;
}

.benefits__photo {
  margin-top: 57px;
  margin-bottom: 75px;

}

.befits__header {
  padding-top: 44px;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
}

.footer {
  background-color: #22334d;
  padding-bottom: 164px;
}

.footer__img {
  padding-top: 50px;
}

.footer__container {
  max-width: 1171px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.footer__description {
  width: 311px;
  height: 61px;
  margin-top: 53px;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #fff;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer__nav h2 {
  margin-top: 65px;
  margin-bottom: 40px;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  color: #fff;
}

.navigation__links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #fff
}

.footer__support {
  margin-top: 65px;
}

.footer__support h2 {
  margin-bottom: 40px;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #fff;
}


.footer__contact {
  margin-top: 65px;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #fff;
}

.footer__contact h2 {
  margin-bottom: 40px;
}

.footer__geo {
margin-bottom: 45px;
}

.form {
  background-image: url(images/Deep.png);
  min-height: 277px;
  background-size: cover;
  background-position: center;
  padding-top: 34px;
  display: flex;
  flex-direction: column;
}

.form-header {
  width: 1139px;
  display: flex;
  margin: 0 auto;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  color: #fff;
  margin-bottom: 34px;
}

.form__container {
  max-width: 1171px;
  margin: 0 auto;
  width: 1139px;
  height: 131px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.form__submit {
  width: 254px;
  height: 48px;
  background-color: #fbd341;
  border-radius: 10px;
  font-family: Arial;
  font-size: 18px;
  opacity: 1;
  margin-left: 60px;
}

.form-input {
  box-sizing: border-box;
  border: none;
  padding-bottom: 7px;
  width: 139px;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  font-family: inherit;
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #e5e5e5;
  opacity: 1;
}

.form-input:active,
.form-input:focus {
  outline: none;
}

.form-input::placeholder {
  opacity: 1;
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #e5e5e5;
}

.form__select {
  box-sizing: border-box;
  border: none;
  padding-bottom: 7px;
  width: 139px;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  font-family: inherit;
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #e5e5e5;
}

select {
  outline: none;
}

select option:first-child {
  display: none;
}

.form__option {
  color: black
}
